body {
    margin: 0;
    font-family: "Inconsolata", serif;
    /* background-color: rgba(170,211,223,255); */
    /* background: linear-gradient(to bottom, #33ccff 0%, #0066ff 50%); */
    background: linear-gradient(to top, #aad3df 82%, #a1abc1 100%);
    /* COMMENT OUT DO BACKGROUND LAST -- REQUIRE DESIGN PATTERN FIRST */
    /* background-image: url(./resources/images/ocean.png); */
}

.header {
    width: 100;
    height: 10%;
    position: relative;
    padding-left: 50px;
    padding-top: 20px;
    a {
        text-decoration: none;
        color: black;
    }
    /* background-color: rgb(156,164,187); */
}

.linklist {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translate(85px, -50%);
    transform: translate(85px, -50%);
    a {
        margin-left: 40px;
    }
}

/* .footer a, .header a {
    text-decoration: none;
    color: white;
}


.footer a, .header a {
    text-decoration: none;
    color: white;
} */


.sections {
    min-height: 84vh;
    margin-bottom: 2vh;
}

.textSections {
    margin-left: 5vw;
}


.titleBeforeSubtitle {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.imageCenter {
    margin: auto;
    display: block;
}

div.mapSection {
    background-color: rgba(170,211,223,255);
    border-radius: 25px;
    width: calc(100% - 10vh);
    margin: auto;
    overflow: auto;
    border: 2px dashed black;
}

div.mapSection div {
    width: 50%;
    float: left;
}

.locationinfo {
    margin-top: 25px;
}



.footer {
    color: whitesmoke;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px 0 15px 0;
    a {
        text-decoration: none;
        color: white;
        height: 20px;
        font-size: 24px;
        margin: 4px;
        :hover {
            /* fix this up so all correct colours instead */
            color: aqua;
        }
    }
}



/* SOCIAL ONLY */
.errorPretend {
    text-align: center;
    height: 87vh;
}

.dynamicSpacing {
    height: calc(70vh - 20px - 10%);
}
/* 
.domainDesc {
    display: none;
} */



/* ABOUT ONLY */
.domainTitle {
    cursor: pointer;
}
