body {
    margin: 0;
    font-family: "Inconsolata", serif;
    background-color: rgba(170,211,223,255);
    /* COMMENT OUT DO BACKGROUND LAST -- REQUIRE DESIGN PATTERN FIRST */
    /* background-image: url(./resources/images/ocean.png); */
}

.header {
    width: 100;
    height: 10%;
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
    a {
        text-decoration: none;
        color: black;
    }
}

.linklist {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translate(85px, -50%);
    transform: translate(85px, -50%);
    a {
        margin-left: 40px;
    }
}

/* .footer a, .header a {
    text-decoration: none;
    color: white;
}


.footer a, .header a {
    text-decoration: none;
    color: white;
} */


.sections {
    margin-left: 5vw;
}

.titleBeforeSubtitle {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}



.footer {
    color: whitesmoke;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px 0 15px 0;
    a {
        text-decoration: none;
        color: white;
        height: 20px;
        font-size: 24px;
        margin: 4px;
        :hover {
            /* fix this up so all correct colours instead */
            color: aqua;
        }
    }
}



/* SOCIAL ONLY */
.errorPretend {
    text-align: center;
}

.dynamicSpacing {
    height: calc(70vh - 20px - 10%);
}

.domainDesc {
    display: none;
}